button {
    color: red;
    background: radial-gradient(green,black);
}
h1 {
    background-color: blue;
    color: green;
    width:fit-content
}

.headings {
    background: green;
    color: black;
    width: 300px;
}

.chickens {
    background-color: wheat;
    list-style-type: lower-roman;
    width:fit-content
}

.cats {
    background-color: brown;
    list-style-type: square;
    width:fit-content;
}

#rules {
    background: linear-gradient(red, green, blue);
    color: aqua;
    border-radius: 25px;
    width:fit-content;
}